!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    %meta{:content => "authenticity_token", :name => "csrf-param"}/
    %meta{:content => "InjNH6ALwl/2U2o1utyX5JaUIx4YFy4WchRjaDW4ZTPOv/cbPZqnsyyB/2/uEyfXuRkqEtGCB50gee0gIyYS8Q==", :name => "csrf-token"}/
    %link{"data-turbolinks-track" => "reload", :href => "/assets/application-e66896919920db9cb5b5d601a817ab1099691bfddbbd355c65b549b11d7b1958.css", :media => "all", :rel => "stylesheet"}/
    %script{"data-turbolinks-track" => "reload", :src => "/assets/application-11431a2aeef6ab6765ca93b518c6f8650fcffef3a41e7f77cc09f002e32bfd88.js"}
    
.notification
  .notice
    登録されました
  .wrapper   
    .side-bar
      .header
        %h3.header__name
          NAME
        %ul.header__lists
          %li.list
            = link_to do
              = fa_icon 'pencil-square-o', class: 'icon'
          %li.list
            = link_to do
              = fa_icon 'cog', class: 'icon'

      .groups
        .group
          .group__name
            MMMM
          .group__message
            まだメッセージはありません。
        .group
          .group__name
            IIII
          .group__message
            まだメッセージはありません。
        .group
          .group__name
            IIII
          .group__message
            まだメッセージはありません。





    .chat
      .header
        .left-header
          .left-header__title
            Group
          %ul.left-header__members
            Member：
            %li.member
              GBP
            %li.member
              NEP
        .right-header
          %a.right-header__button{:href => "/groups/32012/edit"} Edit
      
      .messages
        .message
          .upper-message
            .upper-message__user-name This is sample
            .upper-message__date 2019/05/16 00:54
          .lower-message
            %p.lower-message__content cvnbjvbjbvcjkzcv
        .message
          .upper-message
            .upper-message__user-name sample 2
            .upper-message__date 2019/05/16 00:54
          .lower-message
            %p.lower-message__content nkxczxncvjzlxcljz
        .message
          .upper-message
            .upper-message__user-name sample 3
            .upper-message__date 2019/05/16 00:54
          .lower-message
            %p.lower-message__content zncjzdslcdsc

      .form
        %form#new_message.js-form{"accept-charset" => "UTF-8", :action => "/groups/32002/messages", :enctype => "multipart/form-data", :method => "post"}
          %input{:name => "utf8", :type => "hidden", :value => "✓"}/
          %input{:name => "authenticity_token", :type => "hidden", :value => "wIFk6nraPtICg1/nFwovd+riyWx4giSBkCsMr0h54nVnVyF13fCdajVsGwFt0d3uRbjKyMqe5SRG56LyLhXY3g=="}/
          %input#message_content.form__message.js-content{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
          .form__mask
            %label.form__mask__image{:for => "message_image"}
              %i.fa.fa-picture-o.icon
              %input#message_image.hidden.js-file{:name => "message[image]", :type => "file"}/
          %input.form__submit{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
